* {
  box-sizing: border-box;
  background: transparent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#output {
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(30deg);
  z-index: 1;
  animation: rotateCuboid 10s linear infinite;
}

#output img {
  width: 100%;
  height: auto;
}

.face {
  position: absolute;
  width: 300px;
  height: 200px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Transparent front & back */
.front {
  transform: translateZ(100px);
  background: transparent;
}

.back {
  transform: rotateY(180deg) translateZ(100px);
  background: transparent;
}

/* Top & Bottom */
.top,
.bottom {
  width: 300px;
  height: 200px;
  transform-origin: center;
}

.top {
  transform: rotateX(90deg) translateZ(100px);
  background: #4ade80;
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background: #ff6ec4;
}

/* Left & Right */
.left,
.right {
  width: 200px;
  height: 200px;
  transform-origin: center;
}

.left {
  transform: rotateY(90deg) translateZ(150px);
  background: #facc15;
  left: -50px;
}

.right {
  transform: rotateY(-90deg) translateZ(150px);
  background: #7873f5;
  right: -50px;
}

/* Circle bounce */
#circle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(to bottom right, red, yellow);
  animation: bounce 2s ease-in-out infinite alternate;
}

/* Optional glow effect */
#output::before {
  content: "";
  position: absolute;
  /* width: 100%;
  height: 100%; */
  top: 0;
  left: 0;
  border-radius: 20%;
  background: radial-gradient(
    circle,
    rgba(255, 110, 196, 0.2),
    rgba(72, 115, 245, 0.2),
    rgba(74, 222, 128, 0.2),
    rgba(250, 204, 21, 0.2)
  );
  z-index: -1;
  animation: rotateBorder 4s linear infinite;
  filter: blur(20px);
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4ade80;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 10px;
}

/* Keyframes */
@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCuboid {
  0% {
    transform: rotateX(-20deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(50px, -30px, 50px);
  }
}

@keyframes rotateSVG {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
.tuning-keys {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  padding: 1rem;
  position: fixed;
}

.tuning-keys.left {
  left: 0;
  align-items: flex-start;
}

.tuning-keys.right {
  right: 0;
  align-items: flex-end;
}
